<table class="ast-table">
  <thead>
    <tr>
      @for (col of columns; track col.fieldName) { <th>{{ col.label }}</th> }
      @if (actionTemplates.length) { <th></th> }
    </tr>
  </thead>
  <tbody>
    @for (row of rows; track $index) {
      <tr>
        @for (col of columns; track col.fieldName) {
          <td>
            @if (col.kind === 'badge') {
              <ast-badge [variant]="badgeVariant(col, row)">{{ row[col.fieldName] }}</ast-badge>
            } @else {
              {{ row[col.fieldName] }}
            }
          </td>
        }
        @if (actionTemplates.length) {
          <td class="ast-table__actions">
            @for (tpl of actionTemplates; track $index) {
              <ng-container [ngTemplateOutlet]="tpl"
                            [ngTemplateOutletContext]="{ $implicit: row }"></ng-container>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
